{
  "presets": [
    "babel-preset-react-app"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src",
        "rootPathPrefix": "~/"
      }
    ]
  ]
}